@charset "utf-8";
/* CSS Document */

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color:#f3f3f3;
    background-image: url(/WEB-INF/images/background.png);
    background-repeat:repeat-y;
    color: #000000;
    margin:0;
    padding:0;
}