div.body {
    background-color: #a02919;
    background-image: url("/images/os-guy.gif");
    background-repeat: no-repeat;
    padding-top: 5em;
}
table#login {
    margin: auto;
    background-color: #dfdda9;
    border: .5em solid #fffdd8;
    /* simple rounded corners for mozilla & webkit */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
table#login th {
    height: 30px;
    padding-top: .8em;
    padding-bottom: .8em;
    color: #a02919;
    font-size: 2em;
    font-weight:700;
    font-style:italic;
}
#login td {
    padding: .2em;
    height: 20px;
}
#login .rightTd {
    padding-right: 1.2em;
}
#login .leftTd {
    padding-left: 1.2em;
}
table#login td#buttonRow {
    padding-top: 1em;
    padding-bottom: .6em;
}
div.build {
    float: right;
    color: #dfdda9;
    margin: .3em;
}