/*!
 * CUSTOM STYLING
 *
 */



/************************************************************* FORMATING: Navigation Panel */
#navigation-panel {
    position: fixed; 
    top: 216px;
	margin-left: 10px;
	width: 154px;
}
#page-container {
    padding-left: 220px; /* only needed if navigation-panel is not hidden */
}
#navigation-panel-menu {
    margin-left: -20px !important; 
}
#navigation-panel-menu > .active > a, #navigation-panel-menu > .active > a:hover, #navigation-panel-menu > .active > a:focus {
    color: white;
    cursor: default;
    background-color: rgb(51, 51, 153);
}
#navigation-panel-menu a {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
    background-color: white;
	width: 160px;
}

.collapse { 
	transition: height 0.01s !important; 
}